
.product-list-container{
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the child elements like .product-list-title */
    max-width: 1024px;
    margin: auto;
}


.product-list-title{
    font-weight: 800;
    text-align: center; /* Correct property for centering text */
    width: 100%;
    margin-top: 150px;
    margin-bottom: 20px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 使得一行有兩個產品 */
    gap: 1rem;
    justify-items: center; /* 這會使得每個grid item居中 */
    align-items: start;
    //max-width: 800px; /* 根據您的需求設定最大寬度 */
    
    margin: auto; /* 這會使得整個grid在頁面中間 */
  }
  
  .product-image {
    max-width: 50%; /* 確保圖片不會超出其容器 */
    height: auto; /* 保持圖片的原始比例 */
    margin-bottom: 1rem; /* 與下方內容保持間距 */
  }

  .product {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    width: 100%; /* 確保產品卡片填滿格子 */
  }
  
  .mint-button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    justify-self: stretch; /* 按鈕橫跨整個grid的寬度 */
    grid-column: 1 / -1; /* 從第一列開始，橫跨到最後一列 */
  }

  .total-amount-container {
    justify-self: stretch;
    grid-column: 1 / -1; /* 從第一列開始，橫跨到最後一列 */
    width: 100%;
    text-align: center;
    margin: auto; /* Adjust the margin as needed */
  }
  
  .total-amount {
    font-size: 1.2em; /* Adjust the font size as needed */
    /* Add more styling as needed */
  }
  
  
  /* RWD設定 */
  @media (max-width: 768px) {
    .product-list {
      grid-template-columns: 1fr; /* 在小屏幕上，每行只有一個產品 */
    }
  }
  