/* Ensure that navigation items do not cause overflow */
.nav .menuItem {
  white-space: nowrap; /* Prevent items from wrapping and potentially causing overflow */
  overflow-x: hidden; /* Hide horizontal overflow within the navigation */
  /* Other styles remain the same */
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 16px 32px;
  background: rgb(255, 255, 255); // Changed to match the image background
  color: rgb(0, 0, 0); // Text color changed to white to contrast with the background
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow-x: hidden;
  text-decoration: none;
  border-bottom: 0.25px solid #e1e1e1;
  .nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    .logo {
      font-size: 2rem; // Adjust size as needed
      font-weight: 900; // Make logo bold as per your .logo class
      cursor: pointer;
      color: rgb(0, 0, 0); // Ensure the logo is visible against the black background
      text-decoration: none;
    }

    .menuItem {
      display: flex;
      align-items: center; // Center align the menu items vertically
      margin-left: 32px; // Add spacing between menu items if needed
      text-decoration: none;
      .link {
        padding: 8px 16px;
        cursor: pointer;
        color: rgb(0, 0, 0); // Adjust text color for visibility
        font-weight: 400; // Adjust the font-weight as per your .menu class
        text-decoration: none;
        &:hover {
          background-color: #e1e1e1; // This will need to be changed if the text is white
          color: black; // Change text color on hover for readability
          text-decoration: none;
        }
      }
    }
  }

  .account {
    display: flex;
    align-items: center;

    .balance {
      margin-right: 16px;
      color: rgb(0, 0, 0); // Ensure the balance is visible against the black background
    }
  }
}

.header a,
.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
  text-decoration: none;
}



.hamburger {
  display: none; // Hide by default, show in mobile view
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  &:focus {
    outline: none;
  }

  .hamburgerLine {
    width: 2rem;
    height: 0.25rem;
    background: #333;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }
}

.menuOpen {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .menuItem {
    display: none;
  }

  .menuItem.menuOpen {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    height: 100vh;
    width: 250px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .hamburger {
    display: flex;
  }
}
